<h1>Admin::Home#index</h1>
<h2>Current Resources</h2>
<li><%= link_to 'Articles', admin_articles_path() %></li>
<li><%= link_to 'Events', admin_events_path() %></li>
<li><%= link_to 'Objects', admin_museum_objects_path() %></li>